<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FeiraAGRO</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>FeiraAgro<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          {% if estado_login == 0 %}
            <li><a href="/">Início</a></li>
            <li><a href="/#portfolio">Categorias</a></li>
            <li><a href="#footer">Contato</a></li>
            <li class="dropdown"><a href="/painel"><span>Painel</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li class="dropdown"><a href="#"><span>Usuário</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="/area_do_usuario">Dados do usuário</a></li>
                    <li><a href="/perfil_produtor">Perfil do Produtor</a></li>
                    <li><a href="{{ url_for('visualizar_mensagens', tipo="Listagem_individual") }}">Visualizar Mensagens</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Produtos</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="/cadastrar_produto">Cadastrar Produtos</a></li>
                    <li><li><a href="/visualizar_produtos, None">Visualizar Produtos</a></li></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Pedidos</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="{{ url_for('visualizar_pedido', tipo="Meus") }}">Meus Pedidos</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="/logout">Sair</a></li>
          {% else %}
            <li><a href="/">Início</a></li>
            <li><a href="#portfolio">Categorias</a></li>
  <!--          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>-->
  <!--            <ul>-->
  <!--              <li><a href="#">Drop Down 1</a></li>-->
  <!--              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>-->
  <!--                <ul>-->
  <!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
  <!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
  <!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
  <!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
  <!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
  <!--                </ul>-->
  <!--              </li>-->
  <!--              <li><a href="#">Drop Down 2</a></li>-->
  <!--              <li><a href="#">Drop Down 3</a></li>-->
  <!--              <li><a href="#">Drop Down 4</a></li>-->
  <!--            </ul>-->
  <!--          </li>-->
            <li><a href="#footer">Contato</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  {% block tudo %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>BEM VINDO A <span>FEIRAAGRO</span></h2>
          <p>Compra e venda de itens agrícolas da Feira Agro do IFRN Campus Apodi.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="/login" class="btn-get-started">ENTRE COM SUA CONTA GOOGLE</a>
            <br>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="static/assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3><strong>OBJETIVOS</strong></h3>
              <p>
                O site do FeiraAgro tem como objetivo facilitar a comercialização de produtos da agricultura familiar. Ele oferece diversas ferramentas e informações para auxiliar nesse processo.
              </p>
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    MISSÃO
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                  O site do FeiraAgro é uma plataforma online que visa promover a comercialização de produtos da agricultura familiar no âmbito do instituto.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    COMO FUNCIONA?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Ele oferece um espaço virtual onde produtores da agricultura familiar podem cadastrar seus produtos e disponibilizá-los para venda.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    PARA PRODUTORES
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Além disso, o site também oferece recursos para facilitar a negociação entre os produtores e os potenciais compradores, como a possibilidade de entrar em contato diretamente com o produtor.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    PARA CONSUMIDORES
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Ao acessar o site, os clientes têm acesso a uma ampla variedade de produtos frescos e saudáveis, diretamente dos produtores locais. Eles podem explorar diferentes categorias de produtos, como frutas, legumes, laticínios, entre outros. Cada produto possui uma descrição detalhada, incluindo informações sobre o produtor, o local de produção, o método de cultivo e os certificados de qualidade. Além disso, os clientes podem entrar em contato diretamente com os produtores para fazer perguntas adicionais ou negociar detalhes da compra.
                  </div>
                </div>
              </div><!-- # Faq item-->
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->




    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>CATEGORIAS</h2>
          <p>Escolha a categoria do produto que você deseja comprar.</p>
        </div>

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

<!--          <div>-->
<!--            <ul class="portfolio-flters">-->
<!--              <li data-filter="*" class="filter-active">All</li>-->
<!--              <li data-filter=".filter-app">App</li>-->
<!--              <li data-filter=".filter-product">Product</li>-->
<!--              <li data-filter=".filter-branding">Branding</li>-->
<!--              <li data-filter=".filter-books">Books</li>-->
<!--            </ul>&lt;!&ndash; End Portfolio Filters &ndash;&gt;-->
<!--          </div>-->

          <div class="row gy-4 portfolio-container">

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="static/assets/img/CATEGORIAS/HORTA.png" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">HORTALIÇAS</a></h4>
                  <p> Elas são uma parte essencial de uma dieta saudável e equilibrada, pois são ricas em vitaminas, minerais, fibras e antioxidantes.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <img src="static/assets/img/CATEGORIAS/ARROZ.png" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">GRÃOS E CEREAIS</a></h4>
                  <p>Grãos integrais são uma opção mais saudável, pois contêm todas as partes do grão, incluindo o farelo e o germe.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <img src="static/assets/img/CATEGORIAS/BOLOS.png" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">PÃES E BOLOS</a></h4>
                  <p>Eles são uma fonte de carboidratos e podem ser enriquecidos com vitaminas e minerais.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-books">
              <div class="portfolio-wrap">
                <img src="static/assets/img/CATEGORIAS/FRUITAS.png" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">FRUTAS</a></h4>
                  <p>Eles são uma fonte de carboidratos e podem ser enriquecidos com vitaminas e minerais.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="static/assets/img/CATEGORIAS/LEITE.png" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">DERIVADOS DE LEITE</a></h4>
                  <p>Eles são uma fonte importante de cálcio, proteínas e vitaminas do complexo B.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-product">
              <div class="portfolio-wrap">
                <img src="static/assets/img/CATEGORIAS/MOLHOS.png" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">MOLHOS E CONDIMETOS</a></h4>
                  <p>Os molhos e condimentos são usados para adicionar sabor aos alimentos.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
              <div class="portfolio-wrap">
                <img src="static/assets/img/CATEGORIAS/SUCOS.png" class="img-fluid" alt=""></a>
                <div class="portfolio-info">
                  <h4><a href="portfolio-details.html" title="More Details">SUCOS E POLPAS</a></h4>
                  <p>Os sucos e polpas são bebidas feitas a partir de frutas e podem ser uma fonte de vitaminas e minerais.</p>
                </div>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->


  {% endblock tudo %}


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">



        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Forma de Contato</h4>
          <p>
            Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte | Apodi
                  <br>Rodovia RN 233, KM 02, nº. 1000, Bairro Chapada do Apodi, Apodi-RN, CEP: 59.700-000.<br>
                <strong>Telefone:</strong> (84) 4005-4101<br>
                <strong>Email:</strong>feiraagro6@gmail.com<br>
          </p>

        </div>

      </div>
    </div>


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>