{% extends "index.html" %}
{% block tudo %}

{% if variavel_condicional == "Não_criado" %}

    <section id="appointment" class="appointment section-bg" style="position: relative;">
      <div class="container">
        <div class="div_externa_form_cadastro container">

          <div class="section-title container">
            <br>
            <div class="section-header">
              <h2>Cadastro de Produtor</h2>
            </div>
          </div>
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul id="messages" class="list-unstyled">
                    <li class="alert alert-{{ messages[-1][0] }}">{{ messages[-1][1] }}</li>
                </ul>
              {% endif %}
          {% endwith %}


          <form action="{{ url_for('perfil_produtor') }}" method="POST",>
            <div class="row">
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="local_venda" id="local_venda" placeholder="Local de venda">
                </div>
            </div>

            <div class="row">
                <div class="form-group mt-3">
                  <textarea class="form-control" name="descricao_producao" rows="7" placeholder="Descreva de sua produção" ></textarea>
                </div>
            </div>

            <div class="row">
              <div class="form-group mt-3">
                  <strong>Escolha imagens de sua escolha para preencher seu perfil (Ex: Local de venda, safra, colheita...).</strong>
                  <br>
                <input type="file" class="form-control" name="img0" id="img0" placeholder="Primeira imagem">
                <input type="file" class="form-control" name="img1" id="img1" placeholder="Segunda imagem">
              </div>
              <div class="form-group mt-3">
                <input type="file" class="form-control" name="img2" id="img2" placeholder="Terceira imagem">
                <input type="file" class="form-control" name="img3" id="img3" placeholder="Quarta imagem">
              </div>
            </div>

            <div class="row">

            </div>

            <br>

            <div class="text-center">
              <button class="botao-cadastro " type="submit">Enviar</button>
            </div>
            <br>
          </form>

        </div>

</section>

<!-- End Appointment Section -->

<!--&lt;!&ndash; ======= Contact Section ======= &ndash;&gt;-->
<!--    <section id="contact" class="contact">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="section-header">-->
<!--          <h2>Cadastrar Perfil do Produtor</h2>-->
<!--        </div>-->

<!--          <div class="col-lg-8">-->
<!--            <form action="{{ url_for('perfil_produtor') }}" method="POST" role="form" >-->
<!--              <div class="row">-->
<!--                <div class="form-group mt-3">-->
<!--                  <textarea class="form-control" name="descricao_producao" rows="7" placeholder="Descreva de sua produção" ></textarea>-->
<!--                </div>-->
<!--                  <div class="form-group mt-3">-->
<!--                  <input type="text" class="form-control" name="local_venda" id="local_venda" placeholder="Local de venda">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group mt-3">-->
<!--                <input type="file" class="form-control" name="img0" id="img0" placeholder="Primeira imagem">-->
<!--                <input type="file" class="form-control" name="img1" id="img1" placeholder="Segunda imagem">-->
<!--              </div>-->
<!--              <div class="form-group mt-3">-->
<!--                <input type="file" class="form-control" name="img2" id="img2" placeholder="Terceira imagem">-->
<!--                <input type="file" class="form-control" name="img3" id="img3" placeholder="Quarta imagem">-->
<!--              </div>-->

<!--              <div class="my-3">-->
<!--                <div class="loading">Loading</div>-->
<!--                <div class="error-message"></div>-->
<!--                <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--              </div>-->

<!--                  <div class="text-center floatleft"><button type="submit">Cadastrar</button></div>-->

<!--            </form>-->
<!--          </div>&lt;!&ndash; End Contact Form &ndash;&gt;-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Contact Section &ndash;&gt;-->

{% else %}

<section id="appointment" class="appointment section-bg" style="position: relative; height: 600px;">


    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Perfil</h2>
              <p>Perfil do produtor</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Perfil</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->


              <div class="col-lg-8">
                <div class="portfolio-description">
                {% if perfil_produtor %}
                      <h2>perfil {{ perfil_produtor[0] }}</h2>

                    <div class="reply-form">

                    <table class="table">
                      <tbody>
                          <tr>
                            <td>Código</td>
                            <td>{{ perfil_produtor[0] }}</td>
                          </tr>
                          <tr>
                            <td>Tipo</td>
                            <td>{{ perfil_produtor[1] }}</td>
                          </tr>
                          <tr>
                            <td>Usuario</td>
                            <td>{{ perfil_produtor[4] }}</td>
                          </tr>
                           <tr>
                            <td>Status</td>
                            <td>{{ perfil_produtor[6] }}</td>
                          </tr>

                {% else %}
                     <p>Nenhum item foi encontrado</p>
                {% endif %}
                      </tbody>
                    </table>
                    </div>

 </section>


{% endif %}


{% endblock tudo %}