{% extends "index.html" %}
{% block tudo %}

{% if tipo == "Produtor" %}

       <!-- ======= Projet Details Section ======= -->
        <section id="project-details" class="project-details">
          <div class="container" data-aos="fade-up" data-aos-delay="100">
<div class="section-title"></div>

<div class="section-title"></
        <section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-12">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #26A65D; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              {% if usuario[9] == "" %}
                <img src="static/assets/img/Avatar_padrão.png" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              {% else %}
                <img src="static/assets/perfis/{{ usuario[0] }}/{{ usuario[9] }}" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              {% endif %}

              <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;">
                Editar Perfil
              </button>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>{{ usuario[1] }}</h5>
              <p>{{ usuario[4] }}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5"></p>
                <td> <a type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;" href="{{ url_for('visualizar_produtos', codigo_produtor=perfil_produtor[7]) }}">Visualizar Produtos</a></td>
              </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <br>
              <p class="lead fw-normal mb-1">Local de Venda</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{ perfil_produtor[2] }}</p>
              </div>
              <p class="lead fw-normal mb-1">Descrição da produção</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{ perfil_produtor[1] }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Galeria</p>
            </div>
            <div class="row g-2">
              <div class="col mb-2">
                <img src="static/assets/perfis/{{ usuario[0] }}/perfil_produtor/{{ perfil_produtor[3] }}"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col mb-2">
                <img src="static/assets/perfis/{{ usuario[0] }}/perfil_produtor/{{ perfil_produtor[4] }}"
                  alt="image 1" class="w-100 rounded-3">
              </div>
            </div>
            <div class="row g-2">
              <div class="col">
                <img src="static/assets/perfis/{{ usuario[0] }}/perfil_produtor/{{ perfil_produtor[5] }}"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="static/assets/perfis/{{ usuario[0] }}/perfil_produtor/{{ perfil_produtor[6] }}"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="static/assets/perfis/{{ usuario[0] }}/perfil_produtor/{{ perfil_produtor[7] }}"
                  alt="image 1" class="w-100 rounded-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        </section>

    </section>

{% else %}
<section id="appointment" class="appointment section-bg" style="position: relative; height: 600px;">


        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
          <div class="page-header d-flex align-items-center" style="background-image: url('');">
            <div class="container position-relative">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                  <h2>Perfil</h2>
                  <p>Perfil do produtor</p>
                </div>
              </div>
            </div>
          </div>
          <nav>
            <div class="container">
              <ol>
                <li><a href="index.html">Home</a></li>
                <li>Perfil</li>
              </ol>
            </div>
          </nav>
        </div><!-- End Breadcrumbs -->
    </section>


       <!-- ======= Projet Details Section ======= -->
        <section id="project-details" class="project-details">
          <div class="container" data-aos="fade-up" data-aos-delay="100">


            <table class="table">

                  <div class="col-lg-8">

                    {% if perfil_produtor %}
<!--                      {% for p in perfil_produtor %}-->
                          <h2>Perfil {{ perfil_produtor[8] }}</h2>

                        <div class="reply-form">

                        <table class="table">
                          <tbody>
                              <tr>
                                <td>Nome</td>
                                <td>{{ perfil_produtor[8] }}</td>
                              </tr>
                              <tr>
                                <td>Descrição do Produto</td>
                                <td>{{ perfil_produtor[1] }}</td>
                              </tr>
                              <tr>
                                <td>Local de Venda</td>
                                <td>{{ perfil_produtor[2] }}</td>
                              </tr>
                               <tr>
                                <td>Imagem</td>
                                <td>{{ perfil_produtor[3] }}</td>
                              </tr>
                              <tr>
                                <td>Imagem</td>
                                <td>{{ perfil_produtor[4] }}</td>
                              </tr>
                              <tr>
                                <td>Imagem</td>
                                <td>{{ perfil_produtor[5] }}</td>
                              </tr>
                              <tr>
                                <td>Imagem</td>
                                <td>{{ perfil_produtor[6] }}</td>
                              </tr>
                              <tr>
                                <td>Email</td>
                                <td>{{ perfil_produtor[9] }}</td>
                              </tr>
                              <tr>
                                <td>Endereço</td>
                                <td>{{ perfil_produtor[10] }}</td>
                              </tr>
                              <tr>
                                <td>Contato</td>
                                <td>{{ perfil_produtor[11] }}</td>
                              </tr>
<!--                        {% endfor %}-->
                    {% else %}
                         <p>Nenhum item foi encontrado</p>
                    {% endif %}
              </tbody>
            </table>
          </div>

<div class="section-title"></
        <section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-12">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="static/assets/img/Avatar_padrão.png"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
              <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark"
                style="z-index: 1;">
                Edit profile
              </button>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5>Nome</h5>
              <p>Endereço</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">253</p>
                <p class="small text-muted mb-0">Photos</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">1026</p>
                <p class="small text-muted mb-0">Followers</p>
              </div>
              <div>
                <p class="mb-1 h5">478</p>
                <p class="small text-muted mb-0">Following</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">Descrição da produção</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{ perfil_produtor[1] }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent photos</p>
              <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
            </div>
            <div class="row g-2">
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
            </div>
            <div class="row g-2">
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        </section>


          <div class="section-title"></div>
{% endif %}

{% endblock tudo %}