{% extends "index.html" %}
{% block tudo %}

{% if tipo == "todos" %}


<div class="reply-form" style="text-align: center">

    <form action="{{ url_for('busca_avancada', categoria="produtos") }}" method="POST" >
          <div class="row">
            <div class="col-md-4 form-group container">
              <label for="termo"></label>
              <input type="text" name="termo" class="form-control" id="termo" placeholder="Pesquisa" required>
              <div class="validate"></div>
            </div>
          </div>
          <br>
          <div class="text-center"><button class="botao-cadastro" type="submit">Buscar</button></div>
          <br>
    </form>
</div>
       <!-- ======= Projet Details Section ======= -->
<!--        <section id="project-details" class="project-details">-->
<!--          <div class="container" data-aos="fade-up" data-aos-delay="100">-->

<section id="appointment" class="appointment section-bg" style="position: relative;">
      <div class="container" style="height: 50vh;">
        <div class="div_externa_form_visualizar_produto">

            <table class="table">

                  <div class="col-lg-64">

                        <div class="reply-form">

                        <table class="table">

                            <thead>
                                <th>Imagem</th>
                                <th>Nome</th>
                                <th>Quantidade</th>
                                <th>Valor</th>
                                <th>Classificação</th>
                                <th>Procedência</th>
                                <th>Descrição</th>
                                <th>Produtor</th>
                                <th>Contato</th>
                                <th>Endereço</th>
                                <th>Local de Venda</th>
                                <th>Opções</th>

                            </thead>
                            <tbody>
                            {% if produtos %}
                                {% for item in produtos %}

                                  <tr>
                                      <td><img src="static/assets/perfis/{{ usuario_codigo }}/produtos/{{ item[6] }}" height="100" width="128"></td>
                                    <td>{{ item[1] }}</td>
                                    <td>{{ item[2] }}</td>
                                    <td>{{ item[3] }}</td>
                                    <td>{{ item[4] }}</td>
                                    <td>{{ item[5] }}</td>
                                    <td>{{ item[7] }}</td>
                                    <td>{{ item[9] }}</td>
                                    <td>{{ item[10] }}</td>
                                    <td>{{ item[11] }}</td>
                                    <td>{{ item[12] }}</td>
                                      <td><a href="{{ url_for('cadastrar_pedido', codigo_produto=item[0], codigo_usuario=usuario_codigo) }}">Adquirir produto</a>|<a href="{{ url_for('editar_produto', codigo_produto=item[0]) }}">Editar produto</a></td>
                                  </tr>
                              {% endfor %}
                        {% else %}
                             <p>Nenhum item foi encontrado</p>
                        {% endif %}
                        </tbody>
            </table>
          </div>
        </section>


          <div class="section-title"></div>

    </section>


{% else %}

<div class="reply-form" style="text-align: center">

    <form action="{{ url_for('busca_avancada', categoria="produtos") }}" method="POST" >
          <div class="row">
            <div class="col-md-4 form-group container">
              <label for="termo"></label>
              <input type="text" name="termo" class="form-control" id="termo" placeholder="Pesquisa" required>
              <div class="validate"></div>
            </div>
          </div>
          <br>
          <div class="text-center"><button class="botao-cadastro" type="submit">Buscar</button></div>
          <br>
    </form>
</div>

<section id="appointment" class="appointment section-bg" style="position: relative;">
      <div class="container" style="height: 50vh;">
        <div class="div_externa_form_visualizar_produto">

            <table class="table">

                  <div class="col-lg-64">

                        <div class="reply-form">

                        <table class="table">

                            <thead>
                                <th>Imagem</th>
                                <th>Nome</th>
                                <th>Quantidade</th>
                                <th>Valor</th>
                                <th>Classificação</th>
                                <th>Procedência</th>
                                <th>Descrição</th>
                                <th>Opções</th>
                            </thead>
                            <tbody>
                            {% if produtos %}
                                {% for item in produtos %}

                                  <tr>
                                      <td>{{ item[6] }}</td>
                                    <td>{{ item[1] }}</td>
                                    <td>{{ item[2] }}</td>
                                    <td>{{ item[3] }}</td>
                                    <td>{{ item[4] }}</td>
                                    <td>{{ item[5] }}</td>
                                    <td>{{ item[7] }}</td>
                                      <td><a href="{{ url_for('cadastrar_pedido', codigo_produto=item[0], codigo_usuario=usuario_codigo) }}">Adquirir produto</a>|<a href="{{ url_for('editar_produto', codigo_produto=item[0]) }}">Editar produto</a></td>
                                  </tr>
                              {% endfor %}
                        {% else %}
                             <p>Nenhum item foi encontrado</p>
                        {% endif %}
                        </tbody>
            </table>
          </div>
        </section>


          <div class="section-title"></div>

    </section>

</body>
</html>





<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->

<!--  <div class="section-header">-->
<!--      <h2>Lista de Produtos</h2>-->
<!--  </div>-->

<!--  <div class="div_externa_form_visualizar_produto">-->

<!--    <table class="table">-->
<!--      <thead>-->
<!--        <th style="color: #99d98c">Código</th>-->
<!--        <th style="color: #99d98c">Nome</th>-->
<!--        <th style="color: #99d98c">Quantidade</th>-->
<!--        <th style="color: #99d98c">Valor</th>-->
<!--        <th style="color: #99d98c">Classificação</th>-->
<!--        <th style="color: #99d98c">Procedência</th>-->
<!--        <th style="color: #99d98c">Imagem</th>-->
<!--        <th style="color: #99d98c">Descrição</th>-->
<!--        <th style="color: #99d98c">Código do Produtor</th>-->
<!--        <th style="color: #99d98c">Nome do Produtor</th>-->
<!--        <th style="color: #99d98c">Contato</th>-->
<!--        <th style="color: #99d98c">Endereço</th>-->
<!--        <th style="color: #99d98c">Local de Vendas</th>-->
<!--        <th style="color: #99d98c">Opções</th>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      {% if produtos %}-->
<!--        {% for item in produtos %}-->
<!--          <tr>-->
<!--            <td>{{ produtos[0] }}</td>-->
<!--            <td>{{ produtos[1] }}</td>-->
<!--            <td>{{ produtos[2] }}</td>-->
<!--            <td>{{ produtos[3] }}</td>-->
<!--            <td>{{ produtos[4] }}</td>-->
<!--            <td>{{ produtos[5] }}</td>-->
<!--            <td>{{ produtos[6] }}</td>-->
<!--            <td>{{ produtos[7] }}</td>-->
<!--            <td>{{ produtos[8] }}</td>-->
<!--            <td>{{ produtos[9] }}</td>-->
<!--            <td>{{ produtos[10] }}</td>-->
<!--            <td>{{ produtos[11] }}</td>-->
<!--            <td>{{ produtos[12] }}</td>-->
<!--              <td><a href="{{ url_for('cadastrar_pedido', codigo_produto=produtos[0]) }}">Adquirir produto</a></td>-->
<!--          </tr>-->
<!--        {% endfor %}-->
<!--      {% else %}-->
<!--        <p>Nenhum item foi encontrado</p>-->
<!--      {% endif %}-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->

{% endif %}

{% endblock tudo %}